header{
    background-color: var(--color-primario);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}


.opcion{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}


a{
    text-decoration: none;
    color: bisque;
}
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');
 

:root{
    --color-primario:black;
    --colorSecundario: yellow;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

#superior{
    background-image: url(../imagenes/alaska.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
   
}

.sp{
  color:antiquewhite;
  position: absolute;
  right:30%;
  top:40%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
